<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}blank-node-www{% endblock %}</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/build/style.css" />
		<script type="text/javascript" src="/build/script{% if view.minify() %}.min{% endif %}.js"></script>
		<script type="text/javascript">
			var request = {};
			request.user = {{ (!!request.user)|json }};
			{% block request %}{% endblock %}
		</script>
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
